msa_plugin/MSA.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><!--START MSALead Tag-->
	<xs:element name="MSALead">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LeadData">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="PartnerExcludeDirective">
								<xs:complexType>
									<xs:complexContent mixed="false">
										<xs:extension base="PartnerExcludeDirectiveType"/>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="ContactDetails">
								<xs:complexType>
									<xs:complexContent mixed="false">
										<xs:extension base="ContactDetailsType"/>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="InsurancePolicy">
								<xs:complexType>
									<xs:complexContent mixed="false">
										<xs:extension base="InsurancePolicyType"/>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:choice id="LeadRequest"><!--Call AutoLead Tag-->
								<xs:element name="AutoLead">
									<xs:complexType>
										<xs:complexContent mixed="false">
											<xs:extension base="AutoLeadType"/>
										</xs:complexContent>
									</xs:complexType>
								</xs:element><!--Call HomeLead Tag-->
								<xs:element name="HomeLead">
									<xs:complexType>
										<xs:complexContent mixed="false">
											<xs:extension base="HomeLeadType"/>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute default="1.0" name="Version" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<!--END MSALead Tag-->
	<!--START PartnerExcludeDirectiveType Tag-->
	<xs:complexType name="PartnerExcludeDirectiveType">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="unbounded" name="PartnerExclude" type="StringType"/>
		</xs:sequence>
	</xs:complexType>
	<!--END PartnerExcludeDirectiveType Tag-->
	<!--START ContactDetailsType Tag-->
	<xs:complexType name="ContactDetailsType">
		<xs:sequence>
			<xs:element name="FirstName" type="xs:string"/>
			<xs:element name="LastName" type="xs:string"/>
			<xs:element name="StreetAddress" type="xs:string"/>
			<xs:element name="City" type="xs:string"/>
			<xs:element name="State" type="StateType"/>
			<xs:element name="ZIPCode" type="ZIPCodeType"/>
			<xs:element name="Email" type="EmailType"/>
			<xs:element name="PhoneNumbers">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="3" name="PhoneNumber" type="PhoneNumberType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ResidenceStatus" type="ResidenceStatusType"/>
		</xs:sequence>
	</xs:complexType>
	<!--END ContactDetailsType Tag-->
	<!--START InsurancePolicyType Tag-->
	<xs:complexType name="InsurancePolicyType">
		<xs:sequence>
			<xs:element name="NewPolicy">
				<xs:complexType>
					<xs:choice id="NewPolicyRequest">
						<xs:element name="RequestedCoverage" type="CoverageType"/><!--Applicable to Auto Insurance.-->
						<xs:element name="CoverageAmount" type="HomeCoverageType"/><!--Applicable to Home Insurance.-->
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="PriorPolicy">
				<xs:complexType>
					<xs:all>
						<xs:element minOccurs="0" name="InsuranceCompany" type="InsuranceCompanyType"/><!--Required if CurrentlyInsured is 'Yes'-->
						<xs:element minOccurs="0" name="PolicyExpirationDate" type="xs:date"/><!--Required if CurrentlyInsured is 'Yes'-->
						<xs:element minOccurs="0" name="YearsContinuous" type="xs:int"/><!--Required if CurrentlyInsured is 'Yes'-->
						<xs:element minOccurs="0" name="MonthsContinuous" type="xs:int"/><!--Required if CurrentlyInsured is 'Yes'-->
					</xs:all>
					<xs:attribute name="CurrentlyInsured" type="YesNo" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--END InsurancePolicyType Tag-->
	<!--START Auto Lead Data Tag-->
	<xs:complexType name="AutoLeadType">
		<xs:sequence>
			<xs:element name="Vehicles">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="4" name="Vehicle">
							<xs:complexType>
								<xs:sequence>
									<xs:choice id="PolkVehicleDetails">
										<xs:element name="VIN" type="StringType"/>
										<xs:element name="VehicleData">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="VehYear" type="YearType"/>
													<xs:element name="VehMake" type="StringType"/>
													<xs:element name="VehModel" type="StringType"/>
													<xs:element name="VehSubmodel" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
									<xs:element name="VehUse" type="VehUseType"/>
									<xs:element name="ComphrensiveDeductible" type="ComphrensiveDeductibleType"/>
									<xs:element name="CollisionDeductible" type="CollisionDeductibleType"/>
									<xs:element name="GarageType" type="GarageType"/>
								</xs:sequence>
								<xs:attribute form="unqualified" name="VehicleID" type="xs:int" use="required"/>
								<xs:attribute name="Ownership" type="YesNo" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Drivers">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="4" name="Driver">
							<xs:complexType>
								<xs:all>
									<xs:element minOccurs="1" name="PersonalInfo">
										<xs:complexType>
											<xs:sequence>
												<xs:element minOccurs="0" name="FirstName" type="xs:string"/>
												<xs:element minOccurs="0" name="LastName" type="xs:string"/>
												<xs:element name="BirthDate" type="xs:date"/>
												<xs:element minOccurs="0" name="SocialSecurityNumber" type="xs:string"/>
												<xs:element name="Occupation" type="OccupationNameType"/>
												<xs:element name="MilitaryExperience" type="MilitaryExperienceType"/>
												<xs:element name="Education" type="EducationType"/>
												<xs:element name="CreditRating" type="CreditRatingType"/>
											</xs:sequence>
											<xs:attribute name="Gender" type="GenderType" use="required"/>
											<xs:attribute name="MaritalStatus" type="MaritalStatusType" use="required"/>
											<xs:attribute name="RelationshipToApplicant" type="RelationshipToApplicantType" use="required"/>
											<xs:attribute name="PersonID" type="xs:int"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="PrimaryVehicle" type="xs:int"/>
									<xs:element name="DriversLicense">
										<xs:complexType>
											<xs:all>
												<xs:element name="State" type="StateType"/>
												<xs:element minOccurs="0" name="Number" type="xs:string"/>
												<xs:element name="LicensedAge" type="xs:string"/>
											</xs:all>
											<xs:attribute name="LicenseEverSuspendedRevoked" type="YesNo" use="required"/>
										</xs:complexType>
									</xs:element>
									<xs:element name="DrivingRecord">
										<xs:complexType>
											<xs:all minOccurs="0">
												<xs:element minOccurs="0" name="DUIs">
													<xs:complexType>
														<xs:sequence>
															<xs:element maxOccurs="4" minOccurs="0" name="DUI">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="State" type="StateType"/>
																	</xs:sequence>
																	<xs:attribute name="Year" type="YearType" use="required"/>
																	<xs:attribute name="Month" type="MonthType" use="required"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element minOccurs="0" name="Accidents">
													<xs:complexType>
														<xs:sequence>
															<xs:element maxOccurs="4" minOccurs="0" name="Accident">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Description" type="IncidentAutoAccident"/>
																		<xs:element name="AtFault" type="YesNo"/>
																		<xs:element name="WhatDamaged" type="WhatDamaged"/>
																		<xs:element name="InsurancePaidAmount" type="xs:int"/>
																	</xs:sequence>
																	<xs:attribute name="Year" type="YearType" use="required"/>
																	<xs:attribute name="Month" type="MonthType" use="required"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element minOccurs="0" name="Tickets">
													<xs:complexType>
														<xs:sequence>
															<xs:element maxOccurs="4" minOccurs="0" name="Ticket">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Description" type="IncidentAutoTicket"/>
																	</xs:sequence>
																	<xs:attribute name="Year" type="YearType" use="required"/>
																	<xs:attribute name="Month" type="MonthType" use="required"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element minOccurs="0" name="Claims">
													<xs:complexType>
														<xs:sequence>
															<xs:element maxOccurs="4" minOccurs="0" name="Claim">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="Description" type="IncidentAutoClaim"/>
																		<xs:element name="AtFault" type="YesNo"/>
																		<xs:element name="WhatDamaged" type="WhatDamaged"/>
																		<xs:element name="InsurancePaidAmount" type="xs:int"/>
																	</xs:sequence>
																	<xs:attribute name="Year" type="YearType" use="required"/>
																	<xs:attribute name="Month" type="MonthType" use="required"/>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:all>
											<xs:attribute name="SR22Required" type="YesNo" use="required"/>
											<xs:attribute name="DriverTraining" type="YesNo" use="required"/>
										</xs:complexType>
									</xs:element>
								</xs:all>
								<xs:attribute name="DriverID" type="xs:int" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- END Auto Lead Data Tag-->
	<!--START Home Lead Data Tag-->
	<xs:complexType name="HomeLeadType">
		<xs:sequence>
			<xs:element name="PersonInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FirstName" type="xs:string"/>
						<xs:element name="LastName" type="xs:string"/>
						<xs:element name="BirthDate" type="xs:date"/>
						<xs:element name="CreditRating" type="creditRatingHomeType"/>
					</xs:sequence>
					<xs:attribute name="Gender" type="GenderType" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PropertyAddress">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PropAddress" type="xs:string"/>
						<xs:element name="PropCity" type="xs:string"/>
						<xs:element name="PropState" type="StateType"/>
						<xs:element name="PropZIPCode" type="ZIPCodeType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PropertyProfile">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PropertyType" type="PropType"/>
						<xs:element minOccurs="0" name="NumberUnits" type="NumberUnitsType"/><!--Required for the 'MultiFamilyHome','Apartment','Condominium', 'Townhome', 'Other' property types -->
						<xs:element name="DangerousDog" type="YesNo"/>
						<xs:element name="ConstructionDetails">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BuiltYear" type="YearType"/>
									<xs:element name="LivableSquareFootage" type="LivableSquareFootageType"/>
									<xs:element name="Bedrooms" type="NumberOfBedrooms"/>
									<xs:element name="Bathrooms" type="NumberOfBathrooms"/>
									<xs:element name="Garage" type="garageType"/>
									<xs:element name="HeatingType" type="HeatingType"/>
									<xs:element name="SecuritySystem" type="AlarmType"/>
									<xs:element name="FireAlarm" type="AlarmType"/>
								</xs:sequence>
								<xs:attribute name="Stories" type="StoriesType" use="required"/>
								<xs:attribute name="Roof" type="RoofType" use="required"/>
								<xs:attribute name="ExteriorWalls" type="ExteriorWallsType" use="required"/>
								<xs:attribute name="Basement" type="BasementType" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="BusinessOrFarmingConducted" type="YesNo" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="PropertyFeatures">
				<xs:complexType>
					<xs:attribute name="DeadBolt" type="YesNo" use="required"/>
					<xs:attribute name="CentralAirConditioning" type="YesNo" use="required"/>
					<xs:attribute name="SwimmingPool" type="YesNo" use="required"/>
					<xs:attribute name="SmokeDetector" type="YesNo" use="required"/>
					<xs:attribute name="Deck" type="YesNo" use="required"/>
					<xs:attribute name="FireExtinguisher" type="YesNo" use="required"/>
					<xs:attribute name="Trampoline" type="YesNo" use="required"/>
					<xs:attribute name="Fireplace" type="YesNo" use="required"/>
					<xs:attribute name="Sauna" type="YesNo" use="required"/>
					<xs:attribute name="HotTub" type="YesNo" use="required"/>
					<xs:attribute name="WoodburningStove" type="YesNo" use="required"/>
					<xs:attribute name="SumpPump" type="YesNo" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="Claims">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="4" minOccurs="0" name="Claim">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Description" type="IncidentHomeClaim"/>
									<xs:element name="InsurancePaidAmount" type="xs:int"/>
								</xs:sequence>
								<xs:attribute name="Year" type="YearType" use="required"/>
								<xs:attribute name="Month" type="MonthType" use="required"/>
								<xs:attribute name="Day" type="DayType" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- END Home Lead Data Tag-->
	<!--START StateType Tag-->
	<xs:simpleType name="StateType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AK"/>
			<xs:enumeration value="AL"/>
			<xs:enumeration value="AR"/>
			<xs:enumeration value="AZ"/>
			<xs:enumeration value="CA"/>
			<xs:enumeration value="CO"/>
			<xs:enumeration value="CT"/>
			<xs:enumeration value="DC"/>
			<xs:enumeration value="DE"/>
			<xs:enumeration value="FL"/>
			<xs:enumeration value="GA"/>
			<xs:enumeration value="HI"/>
			<xs:enumeration value="IA"/>
			<xs:enumeration value="ID"/>
			<xs:enumeration value="IL"/>
			<xs:enumeration value="IN"/>
			<xs:enumeration value="KS"/>
			<xs:enumeration value="KY"/>
			<xs:enumeration value="LA"/>
			<xs:enumeration value="MA"/>
			<xs:enumeration value="MD"/>
			<xs:enumeration value="ME"/>
			<xs:enumeration value="MI"/>
			<xs:enumeration value="MN"/>
			<xs:enumeration value="MO"/>
			<xs:enumeration value="MS"/>
			<xs:enumeration value="MT"/>
			<xs:enumeration value="NC"/>
			<xs:enumeration value="ND"/>
			<xs:enumeration value="NE"/>
			<xs:enumeration value="NH"/>
			<xs:enumeration value="NJ"/>
			<xs:enumeration value="NM"/>
			<xs:enumeration value="NV"/>
			<xs:enumeration value="NY"/>
			<xs:enumeration value="OH"/>
			<xs:enumeration value="OK"/>
			<xs:enumeration value="OR"/>
			<xs:enumeration value="PA"/>
			<xs:enumeration value="RI"/>
			<xs:enumeration value="SC"/>
			<xs:enumeration value="SD"/>
			<xs:enumeration value="TN"/>
			<xs:enumeration value="TX"/>
			<xs:enumeration value="UT"/>
			<xs:enumeration value="VA"/>
			<xs:enumeration value="VT"/>
			<xs:enumeration value="WA"/>
			<xs:enumeration value="WI"/>
			<xs:enumeration value="WV"/>
			<xs:enumeration value="WY"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END StateType Tag-->
	<!--START ZIPCodeType Tag-->
	<xs:simpleType name="ZIPCodeType">
		<xs:restriction base="xs:string">
			<xs:length value="5"/>
			<xs:pattern value="\d{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END ZIPCodeType Tag-->
	<!--START EmailType Tag-->
	<xs:simpleType name="EmailType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--END EmailType Tag-->
	<!--START PhoneNumberType Tag-->
	<xs:complexType name="PhoneNumberType">
		<xs:sequence>
			<xs:element name="Number" type="PhoneNumberValue"/>
			<xs:element minOccurs="0" name="Extension" type="ExtensionValue"/>
		</xs:sequence>
		<xs:attribute name="Type" type="PhoneTypeValue" use="required"/>
	</xs:complexType>
	<!--END PhoneNumberType Tag-->
	<!--START PhoneNumberValue Tag-->
	<xs:simpleType name="PhoneNumberValue">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
			<xs:pattern value="\d{10,14}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END PhoneNumberValue Tag-->
	<!--START ExtensionValue Tag-->
	<xs:simpleType name="ExtensionValue">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
			<xs:pattern value="\d{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END ExtensionValue Tag-->
	<!--START PhoneTypeValue Tag-->
	<xs:simpleType name="PhoneTypeValue">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Home"/>
			<xs:enumeration value="Work"/>
			<xs:enumeration value="Cell"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END PhoneTypeValue Tag-->
	<!--START ResidenceStatusType Tag-->
	<xs:complexType name="ResidenceStatusType">
		<xs:simpleContent>
			<xs:extension base="ResidenceStatusValues">
				<xs:attribute name="YearsAt" type="YearsAtType" use="required"/>
				<xs:attribute name="MonthsAt" type="MonthsAtType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!--END ResidenceStatusType Tag-->
	<!--START ResidenceStatusValues Tag-->
	<xs:simpleType name="ResidenceStatusValues">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Own"/>
			<xs:enumeration value="Rent"/>
			<xs:enumeration value="Live With Parents"/>
			<xs:enumeration value="Dormitory"/>
			<xs:enumeration value="Choice Not Listed"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END ResidenceStatusValues Tag-->
	<!--START YearsAtType Tag-->
	<xs:simpleType name="YearsAtType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10+"/>
			<xs:enumeration value="10 "/>
		</xs:restriction>
	</xs:simpleType>
	<!--END YearsAtType Tag-->
	<!--START MonthsAtType Tag-->
	<xs:simpleType name="MonthsAtType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END MonthsAtType Tag-->
	<!--START CoverageType Tag
		Standard Protection
		100,000 / 300,000 Bodily Injury 
		50,000 Property Damage 
		100,000 / 300,000 Under / Uninsured 
		Motorist Bodily Injury  
		
		Basic Protection
		50,000 / 100,000 Bodily Injury 
		25,000 Property Damage 
		50,000 / 100,000 Under / Uninsured 
		Motorist Bodily Injury  
		
		State Minimum
		The minimum allowable limits in your State for Bodily Injury, 
		Property Damage and Under / Uninsured Motorist Bodily 
		Injury will be used  
		
		Superior Protection
		250,000 / 500,000 Bodily Injury 
		 100,000 Property Damage 
		250,000 / 500,000 Under / Uninsured 
		Motorist Bodily Injury -->
	<xs:simpleType name="CoverageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Standard Protection"/>
			<xs:enumeration value="Basic Protection"/>
			<xs:enumeration value="State Minimum"/>
			<xs:enumeration value="Superior Protection"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END CoverageType Tag-->
	<!--START InsuranceCompanyType Tag-->
	<xs:complexType name="InsuranceCompanyType">
		<xs:simpleContent>
			<xs:extension base="xs:int">
				<xs:attribute name="YearsWith" type="xs:int" use="required"/>
				<xs:attribute name="MonthsWith" type="xs:int" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!--END InsuranceCompanyType Tag-->
	<!--START VehUseType Tag-->
	<xs:complexType name="VehUseType">
		<xs:simpleContent>
			<xs:extension base="VehUseValues">
				<xs:attribute name="AnnualMiles" type="AnnualMilesType" use="required"/>
				<xs:attribute name="WeeklyCommuteDays" type="WeeklyCommuteDaysType" use="required"/>
				<xs:attribute name="DailyCommuteMiles" type="DailyCommuteMilesType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!--END VehUseType Tag-->
	<!--START VehUseValues Tag-->
	<xs:simpleType name="VehUseValues">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CommuteWork"/>
			<xs:enumeration value="CommuteSchool"/>
			<xs:enumeration value="CommuteVaries"/>
			<xs:enumeration value="Pleasure"/>
			<xs:enumeration value="Business"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END VehUseValues Tag-->
	<!--START AnnualMilesType Tag-->
	<xs:simpleType name="AnnualMilesType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="5000"/>
			<xs:enumeration value="7500"/>
			<xs:enumeration value="10000"/>
			<xs:enumeration value="12500"/>
			<xs:enumeration value="20000"/>
			<xs:enumeration value="25000"/>
			<xs:enumeration value="30000"/>
			<xs:enumeration value="40000"/>
			<xs:enumeration value="50000"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END AnnualMilesType Tag-->
	<!--START WeeklyCommuteDaysType Tag-->
	<xs:simpleType name="WeeklyCommuteDaysType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END WeeklyCommuteDaysType Tag-->
	<!--START DailyCommuteMilesType Tag-->
	<xs:simpleType name="DailyCommuteMilesType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END DailyCommuteMilesType Tag-->
	<!--START ComphrensiveDeductibleType Tag-->
	<xs:simpleType name="ComphrensiveDeductibleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="No Coverage"/>
			<xs:enumeration value="100"/>
			<xs:enumeration value="200"/>
			<xs:enumeration value="250"/>
			<xs:enumeration value="500"/>
			<xs:enumeration value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END ComphrensiveDeductibleType Tag-->
	<!--START CollisionDeductibleType Tag-->
	<xs:simpleType name="CollisionDeductibleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="No Coverage"/>
			<xs:enumeration value="100"/>
			<xs:enumeration value="200"/>
			<xs:enumeration value="250"/>
			<xs:enumeration value="500"/>
			<xs:enumeration value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END CollisionDeductibleType Tag-->
	<!--START GarageType Tag-->
	<xs:simpleType name="GarageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="No Cover"/>
			<xs:enumeration value="Carport"/>
			<xs:enumeration value="Locked"/>
			<xs:enumeration value="Private"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END GarageType Tag-->
	<!--START OccupationNameType Tag-->
	<xs:simpleType name="OccupationNameType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Administrative Clerical"/>
			<xs:enumeration value="Architect"/>
			<xs:enumeration value="Business Owner"/>
			<xs:enumeration value="Certified Public Accountant"/>
			<xs:enumeration value="Clergy"/>
			<xs:enumeration value="Construction Trades"/>
			<xs:enumeration value="Consultant"/>
			<xs:enumeration value="Dentist"/>
			<xs:enumeration value="Disabled"/>
			<xs:enumeration value="Engineer"/>
			<xs:enumeration value="Health Care"/>
			<xs:enumeration value="Homemaker"/>
			<xs:enumeration value="Human Relations"/>
			<xs:enumeration value="Lawyer"/>
			<xs:enumeration value="Marketing"/>
			<xs:enumeration value="Manager Supervisor"/>
			<xs:enumeration value="Military Officer"/>
			<xs:enumeration value="Military Enlisted"/>
			<xs:enumeration value="Minor Not Applicable"/>
			<xs:enumeration value="Other Non Technical"/>
			<xs:enumeration value="Other Technical"/>
			<xs:enumeration value="Physician"/>
			<xs:enumeration value="Professional Salaried"/>
			<xs:enumeration value="Professor"/>
			<xs:enumeration value="Retail"/>
			<xs:enumeration value="Retired"/>
			<xs:enumeration value="Sales Inside"/>
			<xs:enumeration value="Sales Outside"/>
			<xs:enumeration value="School Teacher"/>
			<xs:enumeration value="Scientist"/>
			<xs:enumeration value="Self Employed"/>
			<xs:enumeration value="Skilled Semi Skilled"/>
			<xs:enumeration value="Student"/>
			<xs:enumeration value="Transportation or Logistics"/>
			<xs:enumeration value="Unemployed"/>
			<xs:enumeration value="Not Listed"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END OccupationNameType Tag-->
	<!--START MilitaryExperienceType Tag-->
	<xs:simpleType name="MilitaryExperienceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="No Military Experience"/>
			<xs:enumeration value="Active Commissioned"/>
			<xs:enumeration value="Active Enlisted"/>
			<xs:enumeration value="Discharged Commissioned"/>
			<xs:enumeration value="Discharged Enlisted"/>
			<xs:enumeration value="Reserve Commissioned"/>
			<xs:enumeration value="Reserve Enlisted"/>
			<xs:enumeration value="Retired"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END MilitaryExperienceType Tag-->
	<!--START EducationType Tag-->
	<xs:complexType name="EducationType">
		<xs:simpleContent>
			<xs:extension base="EducationValues">
				<xs:attribute name="GoodStudentDiscount" type="YesNo" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!--END EducationType Tag-->
	<!--START EducationValues Tag-->
	<xs:simpleType name="EducationValues">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Some Or No HighSchool"/>
			<xs:enumeration value="HighSchool Diploma"/>
			<xs:enumeration value="GED"/>
			<xs:enumeration value="Associate Degree"/>
			<xs:enumeration value="Bachelors Degree"/>
			<xs:enumeration value="Masters Degree"/>
			<xs:enumeration value="Doctorate Degree"/>
			<xs:enumeration value="Other Professional Degree"/>
			<xs:enumeration value="Other NonProfessional Degree"/>
			<xs:enumeration value="Some College"/>
			<xs:enumeration value="Trade Vocational School"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END EducationValues Tag-->
	<!--START CreditRatingType Tag-->
	<xs:complexType name="CreditRatingType">
		<xs:simpleContent>
			<xs:extension base="CreditRatingValues">
				<xs:attribute name="Bankruptcy" type="YesNo" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!--END CreditRatingType Tag-->
	<!--START CreditRatingValues Tag-->
	<xs:simpleType name="CreditRatingValues">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Poor"/>
			<xs:enumeration value="Average"/>
			<xs:enumeration value="Excellent"/>
			<xs:enumeration value="Unsure"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END CreditRatingValues Tag-->
	<!--START HomeCoverageType Tag-->
	<xs:complexType name="HomeCoverageType">
		<xs:simpleContent>
			<xs:extension base="ppCoverage">
				<xs:attribute name="PersonalLiability" type="plCoverage" use="required"/>
				<xs:attribute name="Deductible" type="deductibleAmt" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<!--END HomeCoverageType Tag-->
	<!--START creditRatingHomeType Tag-->
	<xs:simpleType name="creditRatingHomeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Excellent"/>
			<xs:enumeration value="Good"/>
			<xs:enumeration value="Poor"/>
			<xs:enumeration value="Unsure"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END creditRatingHomeType Tag-->
	<!--START PropType Tag-->
	<xs:simpleType name="PropType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SingleFamilyHome"/>
			<xs:enumeration value="MultiFamilyHome"/>
			<xs:enumeration value="Apartment"/>
			<xs:enumeration value="Duplex"/>
			<xs:enumeration value="Condominium"/>
			<xs:enumeration value="Townhome"/>
			<xs:enumeration value="MobileHome"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END PropType Tag-->
	<!--START StoriesType Tag-->
	<xs:simpleType name="StoriesType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OneStory"/>
			<xs:enumeration value="BiLevel"/>
			<xs:enumeration value="TwoStory"/>
			<xs:enumeration value="TriLevel"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END StoriesType Tag-->
	<!--START ExteriorWallsType Tag-->
	<xs:simpleType name="ExteriorWallsType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AluminumOrVinylSiding"/>
			<xs:enumeration value="MostlyBrick"/>
			<xs:enumeration value="MostlyWoodFrame"/>
			<xs:enumeration value="Stucco"/>
			<xs:enumeration value="CinderBlock"/>
			<xs:enumeration value="MostlyStone"/>
			<xs:enumeration value="Veneer"/>
			<xs:enumeration value="Log"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END ExteriorWallsType Tag-->
	<!--START BasementType Tag-->
	<xs:simpleType name="BasementType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BasementFullyFinished"/>
			<xs:enumeration value="BasementThreeQuartersFinished"/>
			<xs:enumeration value="BasementOneHalfFinished"/>
			<xs:enumeration value="BasementOneQuarterFinished"/>
			<xs:enumeration value="BasementUnfinished"/>
			<xs:enumeration value="CrawlSpace"/>
			<xs:enumeration value="PiersPilingsStilts"/>
			<xs:enumeration value="Slab"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END BaseType Tag-->	
	<!--START NumberOfBedrooms Tag-->
	<xs:simpleType name="NumberOfBedrooms">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7+"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END NumberOfBedrooms Tag-->
	<!--START NumberOfBathrooms Tag-->
	<xs:simpleType name="NumberOfBathrooms">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="1.5"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="2.5"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="3.5"/>
			<xs:enumeration value="4+"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END NumberOfBathrooms Tag-->
	<!--START RoofType Tag-->
	<xs:simpleType name="RoofType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CompositionShingle"/>
			<xs:enumeration value="Tile"/>
			<xs:enumeration value="WoodShingle"/>
			<xs:enumeration value="Concrete"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END roofType Tag-->
	<!--START garageType Tag-->
	<xs:simpleType name="garageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NoGarage"/>
			<xs:enumeration value="CarportAttached"/>
			<xs:enumeration value="CarportDetached"/>
			<xs:enumeration value="OneCarAttached"/>
			<xs:enumeration value="TwoCarAttached"/>
			<xs:enumeration value="ThreeCarAttached"/>
			<xs:enumeration value="OneCarDetached"/>
			<xs:enumeration value="TwoCarDetached"/>
			<xs:enumeration value="ThreeCarDetached"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END garageType Tag-->
	<!--START AlarmType Tag-->
	<xs:simpleType name="AlarmType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="None"/>
			<xs:enumeration value="Monitored"/>
			<xs:enumeration value="Unmonitored"/>
			<xs:enumeration value="Unsure"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END AlarmType Tag-->
	<!--START HeatingType Tag-->
	<xs:simpleType name="HeatingType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Gas"/>
			<xs:enumeration value="Electric"/>
			<xs:enumeration value="Boiler"/>
			<xs:enumeration value="OilCoalKerosene"/>
			<xs:enumeration value="Propane"/>
			<xs:enumeration value="Stove"/>
			<xs:enumeration value="Unknown"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END heatingType Tag-->
	<!--START deductibleAmt Tag-->
	<xs:simpleType name="deductibleAmt">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Deductible100"/><!--  $100 -->
			<xs:enumeration value="Deductible250"/><!--  $250 -->
			<xs:enumeration value="Deductible500"/><!--  $500 -->
			<xs:enumeration value="Deductible1000"/><!--  $1000 -->
			<xs:enumeration value="Deductible2000"/><!--  $2000 -->
		</xs:restriction>
	</xs:simpleType>
	<!--END deductibleAmt Tag-->
	<!--START LivableSquareFootage Tag-->
	<xs:simpleType name="LivableSquareFootageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="500"/>
			<xs:enumeration value="600"/>
			<xs:enumeration value="700"/>
			<xs:enumeration value="800"/>
			<xs:enumeration value="900"/>
			<xs:enumeration value="1000"/>
			<xs:enumeration value="1100"/>
			<xs:enumeration value="1200"/>
			<xs:enumeration value="1300"/>
			<xs:enumeration value="1400"/>
			<xs:enumeration value="1500"/>
			<xs:enumeration value="1600"/>
			<xs:enumeration value="1700"/>
			<xs:enumeration value="1800"/>
			<xs:enumeration value="1900"/>
			<xs:enumeration value="2000"/>
			<xs:enumeration value="2100"/>
			<xs:enumeration value="2200"/>
			<xs:enumeration value="2300"/>
			<xs:enumeration value="2400"/>
			<xs:enumeration value="2500"/>
			<xs:enumeration value="2600"/>
			<xs:enumeration value="2700"/>
			<xs:enumeration value="2800"/>
			<xs:enumeration value="2900"/>
			<xs:enumeration value="3000"/>
			<xs:enumeration value="3100"/>
			<xs:enumeration value="3200"/>
			<xs:enumeration value="3300"/>
			<xs:enumeration value="3400"/>
			<xs:enumeration value="3500"/>
			<xs:enumeration value="3600"/>
			<xs:enumeration value="3700"/>
			<xs:enumeration value="3800"/>
			<xs:enumeration value="3900"/>
			<xs:enumeration value="4000"/>
			<xs:enumeration value="4100"/>
			<xs:enumeration value="4200"/>
			<xs:enumeration value="4300"/>
			<xs:enumeration value="4400"/>
			<xs:enumeration value="4500"/>
			<xs:enumeration value="4600"/>
			<xs:enumeration value="4700"/>
			<xs:enumeration value="4800"/>
			<xs:enumeration value="4900"/>
			<xs:enumeration value="5000+"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END livableSquareFootage Tag-->
	<!--START IncidentHomeClaim Tag-->
	<xs:simpleType name="IncidentHomeClaim">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Fire Or Lightning Damage"/>
			<xs:enumeration value="Windstorm Or Hail Damage"/>
			<xs:enumeration value="Ice Snow Sleet Damage"/>
			<xs:enumeration value="Smoke Damage"/>
			<xs:enumeration value="Water Damage"/>
			<xs:enumeration value="Vandalism"/>
			<xs:enumeration value="Theft"/>
			<xs:enumeration value="Loss Claim Not Listed"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END IncidentHomeClaim Tag-->
	<!--START GenderType Tag-->
	<xs:simpleType name="GenderType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Male"/>
			<xs:enumeration value="Female"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END GenderType Tag-->
	<!--START MaritalStatusType Tag-->
	<xs:simpleType name="MaritalStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Single"/>
			<xs:enumeration value="Married"/>
			<xs:enumeration value="Divorced"/>
			<xs:enumeration value="Separated"/>
			<xs:enumeration value="Widowed"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END MaritalStatusType Tag-->
	<!--START RelationshipToApplicantType Tag-->
	<xs:simpleType name="RelationshipToApplicantType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Self"/>
			<xs:enumeration value="Spouse"/>
			<xs:enumeration value="Parent"/>
			<xs:enumeration value="Sibling"/>
			<xs:enumeration value="Child"/>
			<xs:enumeration value="Grandparent"/>
			<xs:enumeration value="Grandchild"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END RelationshipToApplicantType Tag-->
	<!--START IncidentAutoAccident Tag-->
	<xs:simpleType name="IncidentAutoAccident">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Vehicle Hit Vehicle"/>
			<xs:enumeration value="Vehicle Hit Pedestrian"/>
			<xs:enumeration value="Vehicle Hit Property"/>
			<xs:enumeration value="Vehicle Damaged Avoiding Accident"/>
			<xs:enumeration value="Other Vehicle Hit Yours"/>
			<xs:enumeration value="At Fault Accident Not Listed"/>
			<xs:enumeration value="Not At Fault Accident Not Listed"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END IncidentAutoAccident Tag-->
	<!--START WhatDamaged Tag-->
	<xs:simpleType name="WhatDamaged">
		<xs:restriction base="xs:string">
			<xs:enumeration value="People"/>
			<xs:enumeration value="Property"/>
			<xs:enumeration value="Both"/>
			<xs:enumeration value="Not Applicable"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END WhatDamaged Tag-->
	<!--START IncidentAutoClaim Tag-->
	<xs:simpleType name="IncidentAutoClaim">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Fire Hail Water Damage"/>
			<xs:enumeration value="Vandalism Damage"/>
			<xs:enumeration value="Vehicle Hit Animal"/>
			<xs:enumeration value="Vehicle Stolen"/>
			<xs:enumeration value="Windshield Damage"/>
			<xs:enumeration value="Loss Claim Not Listed"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END IncidentAutoClaim Tag-->
	<!--START IncidentAutoTicket Tag-->
	<xs:simpleType name="IncidentAutoTicket">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Careless Driving"/>
			<xs:enumeration value="Defective Equipment"/>
			<xs:enumeration value="Failure To Obey Signal"/>
			<xs:enumeration value="Speeding Violation"/>
			<xs:enumeration value="Ticket Violation Not Listed"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END IncidentAutoTicket Tag-->
	<!--START YearType Tag-->
	<xs:simpleType name="YearType">
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END YearType Tag-->
	<!--START MonthType Tag-->
	<xs:simpleType name="MonthType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END MonthType Tag-->
	<!--START DayType Tag-->
	<xs:simpleType name="DayType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01"/>
			<xs:enumeration value="02"/>
			<xs:enumeration value="03"/>
			<xs:enumeration value="04"/>
			<xs:enumeration value="05"/>
			<xs:enumeration value="06"/>
			<xs:enumeration value="07"/>
			<xs:enumeration value="08"/>
			<xs:enumeration value="09"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="24"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="27"/>
			<xs:enumeration value="28"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END DayType Tag-->
	<!--START StringType Tag-->
	<xs:simpleType name="StringType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END StringType Tag-->
	<!--START YesNo Tag-->
	<xs:simpleType name="YesNo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Yes"/>
			<xs:enumeration value="No"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END YesNo Tag-->
	<!-- START  NumberUnitsType Tag -->
	<xs:simpleType name="NumberUnitsType">
		<xs:restriction base="xs:int">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- END  NumberUnitsType Tag -->
	<!--START ppCoverage Tag-->
	<xs:simpleType name="ppCoverage">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Less than 50000"/>
			<xs:enumeration value="50000"/>
			<xs:enumeration value="75000"/>
			<xs:enumeration value="100000"/>
			<xs:enumeration value="125000"/>
			<xs:enumeration value="150000"/>
			<xs:enumeration value="175000"/>
			<xs:enumeration value="200000"/>
			<xs:enumeration value="225000"/>
			<xs:enumeration value="250000"/>
			<xs:enumeration value="275000"/>
			<xs:enumeration value="300000"/>
			<xs:enumeration value="325000"/>
			<xs:enumeration value="350000"/>
			<xs:enumeration value="375000"/>
			<xs:enumeration value="400000"/>
			<xs:enumeration value="425000"/>
			<xs:enumeration value="450000"/>
			<xs:enumeration value="475000"/>
			<xs:enumeration value="500000"/>
			<xs:enumeration value="525000"/>
			<xs:enumeration value="550000"/>
			<xs:enumeration value="575000"/>
			<xs:enumeration value="600000"/>
			<xs:enumeration value="625000"/>
			<xs:enumeration value="650000"/>
			<xs:enumeration value="675000"/>
			<xs:enumeration value="700000"/>
			<xs:enumeration value="725000"/>
			<xs:enumeration value="750000"/>
			<xs:enumeration value="775000"/>
			<xs:enumeration value="800000"/>
			<xs:enumeration value="825000"/>
			<xs:enumeration value="850000"/>
			<xs:enumeration value="875000"/>
			<xs:enumeration value="900000"/>
			<xs:enumeration value="925000"/>
			<xs:enumeration value="950000"/>
			<xs:enumeration value="975000"/>
			<xs:enumeration value="1000000"/>
			<xs:enumeration value="1250000"/>
			<xs:enumeration value="1500000"/>
			<xs:enumeration value="1750000"/>
			<xs:enumeration value="2000000"/>
			<xs:enumeration value="2250000"/>
			<xs:enumeration value="2500000"/>
			<xs:enumeration value="2750000"/>
			<xs:enumeration value="3000000"/>
			<xs:enumeration value="3250000"/>
			<xs:enumeration value="3500000"/>
			<xs:enumeration value="3750000"/>
			<xs:enumeration value="4000000"/>
			<xs:enumeration value="4250000"/>
			<xs:enumeration value="4500000"/>
			<xs:enumeration value="4750000"/>
			<xs:enumeration value="5000000+"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END ppCoverage Tag-->
	<!--START plCoverage Tag-->
	<xs:simpleType name="plCoverage">
		<xs:restriction base="xs:string">
			<xs:enumeration value="100000"/>
			<xs:enumeration value="300000"/>
			<xs:enumeration value="500000"/>
			<xs:enumeration value="1000000"/>
		</xs:restriction>
	</xs:simpleType>
	<!--END plCoverage Tag-->
</xs:schema>
